.board-container,
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.board-container {
	display: flex;
}
.game-info {
	display: flex;
	flex: 1;
}
.cards-single {
	cursor: pointer;
}
.margins {
	margin: 20px;
}

.turns-info {
	border: 1px solid rgba(0, 0, 0, 0.125);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 220px;
	height: 363px;
	background-color: white;
}
.info-state {
	margin: 15px;
	border: 1px solid lightgrey;
}

.submit {
	background-color: lightskyblue;
	width: 60%;
	margin: 0 auto;
	border-radius: 20px;
}
