#player {
	width: 330px;
	margin: 0;
}
.user {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
}
.card-title {
	text-align: center;
}
.hp-shield {
	display: flex;
	justify-content: space-between;
}
